body{
    font-family:"roboto",sans-serif;
}
*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
#page1 {
    background: linear-gradient(rgb(151, 224, 68),rgb(0, 0, 0)), url("hair.jpg");
    background-size:cover;
     height:1200px;
     width:100%;  
}
#page1 h1{
    font-style: oblique;
    text-align:center;
    font-size:40px;
}
#page1 h2{
    font-style: italic;
    text-align:center;
    font-size:25px;
}
#page1 h3{
    box-shadow: 10px 2px 100px 5px  rgb(50, 88, 38);
    font-style: italic;
    text-align:center;
    font-size:25px;
}
.page1-img{
    max-width: 350px;
   
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    }
    #page1 p{
        position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
       font-size:20px;
       font-style: italic;
       border-radius: 1px;
       border: 1px solid rgb(0, 0, 0);
    }
    #page1 p2{
        position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%,-50%);
       font-style: italic;
    }
    #page1 p3{
        position: absolute;
    left: 50%;
    top: 88%;
    transform: translate(-50%,-50%);
       font-style: italic;
    }

#smart-button-container{
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translate(-50%,-50%);
}
#sharethis-inline-share-buttons{
    position: absolute;
    left: 50%;
    top: 130%;
    transform: translate(-50%,-50%);
}
#sharethis-inline-share-buttons h2{
    font-size:8px;
    width:200px;
}
#sharethis-inline-share-buttons h4{
    font-size:8px;
    margin-left:80px;
}
#ask h2{
    position: absolute;
    left: 50%;
    top: 115%;
    transform: translate(-50%,-50%);
    font-size:10px;
    width:200px;
    color:red;
}
#ask h4{
    position: absolute;
    left: 50%;
    top: 119%;
    transform: translate(-50%,-50%);
    font-size:10px;
    width:200px;
color:red;
}












@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.ft14 {
font-size: 44px !important;
  color:red;
  
}


.ft60 {
font-size: 60px !important;
  }
.clr-blue{color:blue;}
.clr-prl{color:purple;}
.bg-bl.clr-prl{color:purple;}

.bg-blue{
background-color: #1b95e0 !important;
  color:#fffff;
}

i{
   color:#fffff !important;
}
#widget{
    position: absolute;
    left: 50%;
    top: 122%;
    transform: translate(-50%,-50%);
}
